body{
    background-color: white;
    font-family: cursive;
    font-style: italic;
    animation: body 7s ease-out 3s infinite;
}
h2{
    align-items: center;
    justify-items: center;
    background-position: center;
    background-color: blue;
    font-style: italic;
    animation: h2 5s ease-out 2s infinite;
}
.row{
    display: flex;
    justify-content: space-between;
    animation: row 5s ease-out 2s infinite;

}

.row-image-box img {
    height: 20%;
    width: 30%;
}


.row img:hover {
    scale: 1.1;
    hover
    
}

@keyframes body {
    from {background-color: white;}
    to {background-color: green;} 
}
    

@keyframes h2 {
    from {background-color: blue;}
    to {background-color: sandybrown;}
}
@keyframes row {
    from {background-color: green;}
    to {background-color: tomato;}
}
